.layoutContent {
  background-color: white;
  /* border: solid black; */
  /* margin-left : 2em;
  margin-right: 2em; */
}

.header {
  background-color: white;
}

.container {
  background-color: white;
}